a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

  a {
    color: #0366d6;
  }

  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }

  .gb-body {
      margin-top: 60px;
  }

  .gb-content {
      margin-bottom: 150px;
  }

  .gb-title {
      margin-bottom: 30px;
      font-weight: 600;
  }

  body {
      background-color: #2c3531;
      color: #d1e8e2;
  }

  .img-thumbnail {
      background-color: #116466;
      border: none;
      padding: 10px;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5);
  }

  .navbar-dark {
      background-color: #2c3531;
  }

  .bg-white {
      background-color: #2c3531;
  }

  .box-shadow {
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5);
  }

  .card {
      background-color: #116466;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .5);
  }

  .progress-bar {
      background-color: #d9b08c !important;
  }

  a {
      color: #d1e8e2;
  }

      a:hover {
          color: #ffcb9a;
          text-decoration: none;
      }

  .gb-socialmedia a {
      margin: 0 10px;
  }

  .gb-experience .card-body p,
  .gb-education .card-body p {
      text-align: justify;
  }

  .gb-hello {
      font-weight: 600;
  }

      .gb-hello address i {
          width: 20px;
          margin-right: 10px;
          text-align: right;
      }

  .gb-projects-image {
      height: 300px;
      background-size: cover;
  }

  .gb-projects h4 {
      margin-bottom: 20px;
  }

  .gb-projects p {
      font-weight: 600;
      text-align: justify;
  }

  @media (min-width: 992px) {
      .gb-aboutme p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 250px;
      }
  }

  @media(min-width: 768px) {
      .gb-experience .card-body p,
      .gb-education .card-body p {
          height: 180px;
          vertical-align: middle;
          display: table-cell;
      }

      .bg-contactme-content-body {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      .gb-hello {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 500px;
      }

      .gb-projects p {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100px;
      }
  }

  @media only screen and (max-width: 768px) {
      .md-column-reverse {
          text-align: center;
          margin-top: 100px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
      }
  }
